version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: docker/django/Dockerfile
    container_name: django_api
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: 5432
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always

  bot:
    build:
      context: .
      dockerfile: docker/bot/Dockerfile
    container_name: telegram_bot
    env_file:
      - .env
    depends_on:
      - backend
    restart: always

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
